@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.main-wrap{
  border: 1px solid #27ae60;
  height: auto;
  border-radius: 5px;
  padding: 10px;
}
.txt-name{
  font-family: 'Lobster', cursive;
  font-size: 18px;
  margin: 0;
}
.txt-email{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-style: italic;
  color: #95a5a6;
}

.txt-comment{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-align: justify;
}
