<br>
<div class="container-fluid">
  <input (click)="loadAllData()" type="button" value="Load All Data" class="btn btn-primary btn-sm">
  <br>
  <br>

  <div class="main-wrap">
    <small class="txt-name">Nimal</small>
    <br>
    <small class="txt-email">Nimal@gmail.com</small>
    <p class="txt-comment">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deleniti facere id necessitatibus officia ratione
      reprehenderit sapiente sed sequi ullam!
    </p>
  </div>


  <router-outlet></router-outlet>

</div>
